/* Fonts: Playfair Display + Inter */
body {
    margin: 0;
    padding: 0;
    /* background-color: #f5f3f0; */
    font-family: 'Inter', sans-serif;
    color: #2a2a2a;
    background-image:url(https://static.vecteezy.com/system/resources/thumbnails/004/365/884/small_2x/empty-white-wooden-wall-on-wooden-floor-interior-design-3d-rendering-free-photo.jpg);
    background-size: cover;
   
    background-position: center;
   
}
  
  .page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 40px 20px;
    
  }
  
  .card {
    background: white;
    
    padding: 40px;
    max-width: 700px;
    border-radius: 16px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.06);
  }
  
  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    margin-bottom: 10px;
    color: #1f1f1f;
  }
  h1 strong{
    color: blue;
  }
  
  .tagline {
    font-size: 16px;
    font-style: italic;
    color: #8e8e8e;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 40px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
  }
 
  p {
    font-size: 16px;
    line-height: 1.6;
    margin: 12px 0;
  }
  
  a {
    color: #b88968;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    text-decoration: underline;
  }
  