/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://t4.ftcdn.net/jpg/06/27/62/67/360_F_627626712_bn0CZninc0nk56hU8ulSVyM0g2v2g1Sx.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}


.navbar {
    width: 100%;
    margin: 0 auto;
}

.nav-links {
    padding: 15px;
    list-style: none;
    display: flex;
    margin-top: -200px;
    margin-left: 500px;

}

.nav-links li {
    margin: 0 25px;
}

.navbar .nav-links a {
    color: black;
    text-decoration: none;
}

.navbar .nav-links a:hover {
    text-decoration: underline;
}


.dropdown .content a {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 10px;
   border-top-right-radius: -10px;
    padding: 2px 4px;
}

.dropdown .content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
}

.dropdown:hover .content {
    display: block;
}

.dropdown .content a:hover {
    text-decoration: underline;
}

section .content {
    padding-top: 70px;
    text-align: center;
    color: black;

}

section .content h1 {
    padding: 50px;
    font-size: 20px;
}

section .content h1 strong {
    color: rgb(147, 95, 237);
}