/* Global Styles */
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f5f5f5; */
}

h1 {
    text-align: center;
    color: #333;
}

/* Product Menu Container */
.product-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Back Button */
#wrongMarkBtn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

#wrongMarkBtn:hover {
    background-color: #0056b3;
}

/* Category Buttons */
.container {
   display: flex;
    flex-direction: column;
    /* align-items: left; */
}

.category-btn {
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.category-btn:hover {
    background-color: #218838;
}

/* Responsive Design */
@media (max-width: 768px) {
    .category-btn {
        width: 100%;
        padding: 10px 20px;
    }
}
