* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #eee;
}

.container {
    width: 100%;
    margin: 10 auto;
    padding: 3rem 2rem;
}

.container .title {
    font-size: 2.5rem;
    color: #444;
    margin-bottom: 3rem;
    text-transform: uppercase;
    text-align: center;
}

.container .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
}

.container .products-container .product {
    text-align: center;
    padding: 3rem 2rem;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    cursor: pointer;
}

.container .products-container .product:hover {
    outline: .2rem solid #222;
    outline-offset: 0;
}

.container .products-container .product img {
    height: 30rem;
}

.container .products-container .product:hover img {
    transform: scale(.9);
}

.container .products-container .product h3 {
    padding: .5rem 0;
    font-size: 2rem;
    color: #444;
}

.container .products-container .product:hover h3 {
    color: black;
}

.container .products-container .product .price {
    font-size: 2rem;
    color: #444;
}

/* Preview Styles */
.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.products-preview .preview {
    display: none;
    padding: 2rem;
    text-align: center;
    background: #fff;
    position: relative;
    margin: 2rem;
    width: 50rem;
    border-radius: 1rem;
}

.products-preview .preview.active {
    display: inline-block;
}

.products-preview .preview img {
    height: 30rem;
}

.products-preview .preview h3 {
    color: #444;
    padding: .5rem 0;
    font-size: 2.5rem;
}

.products-preview .preview p {
    line-height: 1.0;
    padding: 1rem 0;
    font-size: 1.7rem;
    color: #444;
}

.products-preview .preview .price {
    padding: 1rem 0;
    font-size: 2.2rem;
    color: black;
}

.products-preview .preview .buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.products-preview .preview .buttons a {
    flex: 1 1 10rem;
    padding: 1rem;
    font-size: 1.8rem;
    color: #444;
    border: .2rem solid #444;
    text-align: center;
}

.products-preview .preview .buttons a.contact:hover,
.products-preview .preview .buttons a.back:hover {
    background: #111;
    color: #fff;
}
.close-preview .closeBtn{
    font-size: 36px; /* Increase this number to make it bigger */
    cursor: pointer;
}
#wrongMarkBtn {
    margin-top: 30px;
    position: relative;
    right: -1400px;
    background: none;
    border: none
}

