body{
    margin: 0;
    font-family: Poppins;
}
svg{
    width: 30px;

}
a{
    text-decoration: none;
    color: #2f2f2f;
}
button{
    cursor: pointer;
}
.contaier{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    transition: 0.5s;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    background-color: red;
    position: absolute;
    top: 50px;
    right: -20px;
    width: 30px;
    height: 30px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

